{
  "presets": [["env", {
      "targets": {
        "browsers": ["last 2 versions", "firefox >= 31"]
      }
    }], "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-flow-strip-types",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    "styled-jsx/babel"
  ]
}
