{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ]
  ],
  "plugins": [
    "styled-jsx/babel",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}
