dist/
scripts/
bin/
lib/
static/
flow-typed/
types/
build/
packages/**/node_modules
applications/**/node_modules
coverage
node_modules/
*/**/__snapshots__/

# the gatsby transformer writes output to the root
packages/gatsby-transformer-ipynb/*.js
