{
  "extends": ["prettier", "prettier/flowtype", "plugin:jsx-a11y/recommended"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "flowtype", "jsx-a11y"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "jsx-a11y/no-onchange": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/heading-has-content": 0
  }
}
