# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8@sha256:c263c0776f96fb7ed5468aa0484090907bfc3232e03b4b7887b4030e709044e1

    working_directory: ~/nteract

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - ~/.npm
            - ./node_modules
            - ~/.jestcache
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: npm run test -- --cacheDirectory=~/.jestcache
      - run: npm run build:apps
      - run: npm run test:lint
      - run: npm run test:flow
      - run: npm run test:conformance
