[Desktop Entry]
Comment=Interactive literate coding notebook
Exec=nteract %U
GenericName[en_US]=nteract
GenericName=nteract
Icon=/opt/nteract/resources/app/static/icon.png
MimeType=application/x-ipynb+json
Name=Nteract
Path=/opt/nteract/
StartupNotify=true
Terminal=false
Type=Application
Categories=Science;Development;
