/*
  App
 */
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/codemirror/lib/codemirror.css";
@import "../../node_modules/codemirror/addon/hint/show-hint.css";
@import "../../node_modules/codemirror/addon/dialog/dialog.css";
@import "../../node_modules/nteract-assets/fonts/source-sans-pro/source-sans-pro.css";
@import "../../node_modules/nteract-assets/fonts/source-code-pro/source-code-pro.css";

:root {
  --prompt-width: 50px;
  --cell-placeholder-opacity: 0.3;
  --link-color-unvisited: blue;
  --link-color-visited: var(--link-color-unvisited);
}

/**
 * TODO: Bring these styles into our nextgen components directly as part of
 *       their inline styled-jsx
 */
@media print {
  * {
    box-shadow: none !important;
  }
  .status-bar {
    display: none !important;
  }
  .notifications-wrapper {
    display: none !important;
  }
  .cell-toolbar {
    display: none !important;
  }
  .cell-creator {
    display: none !important;
  }
  .cell.focused {
    border: none;
    background: var(--cell-bg) !important;
  }
  .cell:focus .prompt,
  .cell.focused .prompt {
    background: var(--pager-bg) !important;
  }
  .draggable-cell {
    padding: 0px !important;
  }
  .cell-drag-handle {
    display: none !important;
  }
  .cell-toolbar-mask {
    display: none !important;
  }
  .invisible {
    display: none !important;
  }
}

#app {
  padding-top: 20px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

div#loading {
  animation-name: fadeOut;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

/*
  Globals
 */

/* completions styles */

.CodeMirror-hint {
  padding-left: 0;
  border-bottom: none;
}

.completion-type {
  background: transparent;
  border: transparent 1px solid;
  width: 17px;
  height: 17px;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 5px;
  top: 18px;
}

.completion-type:before {
  content: "?";
  bottom: 1px;
  left: 4px;
  position: relative;
}
/* color and content for each type of completion */
.completion-type-keyword:before {
  content: "K";
}
.completion-type-keyword {
  background-color: darkred;
}

.completion-type-class:before {
  content: "C";
}
.completion-type-class {
  background-color: blueviolet;
}

.completion-type-module:before {
  content: "M";
}
.completion-type-module {
  background-color: chocolate;
}

.completion-type-statement:before {
  content: "S";
}
.completion-type-statement {
  background-color: forestgreen;
}

.completion-type-function:before {
  content: "ƒ";
}
.completion-type-function {
  background-color: yellowgreen;
}

.completion-type-instance:before {
  content: "I";
}
.completion-type-instance {
  background-color: teal;
}

.completion-type-null:before {
  content: "ø";
}
.completion-type-null {
  background-color: black;
}

/* end completion type color and content */

body {
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 22px;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

body {
  /* All the old theme setups declared this, putting it back for consistency */
  line-height: 1.3 !important;
}

/*
  Notebook
 */

.notebook {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media not print {
  .notebook .cell-container:last-child {
    padding-bottom: calc(100vh - 110px);
  }
}
/*
  Cell
 */

.draggable-cell {
  position: relative;
  padding: 10px;
}

.cell-drag-handle {
  position: absolute;
  z-index: 200;
  width: var(--prompt-width);
  height: 100%;
  cursor: move;
}

/* Show the cell-toolbar-mask if hovering on cell,
   or cell was the last clicked (has .focused class). */
.cell:hover .cell-toolbar-mask,
.cell.focused .cell-toolbar-mask {
  display: block;
}

.cell-placeholder {
  text-align: center;
  color: var(--main-fg-color);
  padding: 10px;
  opacity: var(--cell-placeholder-opacity);
}

.sticky-cell-container {
  background: var(--main-bg-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

  top: 0px;
  position: fixed;
  z-index: 300;
  width: 100%;
  max-height: 50%;

  padding-bottom: 10px;
  padding-top: 20px;
  overflow: auto;
}

.sticky-cell-container:empty {
  display: none;
}

/** TODO: Recover this in the styling -- this likely relates to pinned cells */
.cell .input-container.invisible {
  height: 34px;
}

/*
    Codemirror
 */

.CodeMirror {
  font-family: "Source Code Pro";
  font-size: 14px;
  line-height: 20px;

  height: auto;

  background: none;
}

.CodeMirror-cursor {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--cm-color);
}

.CodeMirror-scroll {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  width: 100%;
}

.CodeMirror-lines {
  padding: 0.4em;
}

.CodeMirror-linenumber {
  padding: 0 8px 0 4px;
}

.CodeMirror-gutters {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.CodeMirror pre {
  padding: 0;
  white-space: pre;
  border: 0;
  border-radius: 0;
}

.cm-s-composition.CodeMirror {
  font-family: "Source Code Pro", monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: var(--cm-background);
  color: var(--cm-color);
}
.cm-s-composition .CodeMirror-lines {
  padding: 10px;
}
.cm-s-composition .CodeMirror-gutters {
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--cm-gutter-bg);
  padding-right: 10px;
  z-index: 3;
  border: none;
}

.cm-s-composition span.cm-comment {
  color: var(--cm-comment);
}
.cm-s-composition span.cm-keyword {
  line-height: 1em;
  font-weight: bold;
  color: var(--cm-keyword);
}
.cm-s-composition span.cm-string {
  color: var(--cm-string);
}
.cm-s-composition span.cm-builtin {
  line-height: 1em;
  font-weight: bold;
  color: var(--cm-builtin);
}
.cm-s-composition span.cm-special {
  line-height: 1em;
  font-weight: bold;
  color: var(--cm-special);
}
.cm-s-composition span.cm-variable {
  color: var(--cm-variable);
}
.cm-s-composition span.cm-number,
.cm-s-composition span.cm-atom {
  color: var(--cm-number);
}
.cm-s-composition span.cm-meta {
  color: var(--cm-meta);
}
.cm-s-composition span.cm-link {
  color: var(--cm-link);
}
.cm-s-composition span.cm-operator {
  color: var(--cm-operator);
}
.cm-s-composition span.cm-def {
  color: var(--cm-def);
}
.cm-s-composition .CodeMirror-activeline-background {
  background: var(--cm-activeline-bg);
}
.cm-s-composition .CodeMirror-matchingbracket {
  border-bottom: 1px solid var(--cm-matchingbracket-outline);
  color: var(--cm-matchingbracket-color) !important;
}

/* Overwrite some of the hint Styling */

.CodeMirror-hints {
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  border: none;
  padding: 0;

  background: var(--cm-hint-bg);
  font-size: 90%;
  font-family: "Source Code Pro", monospace;

  overflow-y: auto;
}

.CodeMirror-hint {
  border-radius: 0px;
  white-space: pre;
  cursor: pointer;
  color: var(--cm-hint-color);
}

li.CodeMirror-hint-active {
  background: var(--cm-hint-bg-active);
  color: var(--cm-hint-color-active);
}

/*Tooltip styling*/
.bt {
  float: right;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.tip {
  padding: 20px 20px 50px 20px;
  margin: 30px 20px 50px 20px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
  background-color: var(--main-bg-color);
  z-index: 9999999;
}
